[submodule "libs/imgui-node-editor"]
	path = libs/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/json"]
	path = libs/json
	url = git@github.com:nlohmann/json.git
[submodule "libs/minimp3"]
	path = libs/minimp3
	url = https://github.com/lieff/minimp3.git
